body {
    background-color: darkgoldenrod;
    text-align: center;
}

.elemek {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textarea {
    width: 50%;
}

.scrolling {
    background-color: white;
    height: 400px;
    overflow: auto;
    border: solid 2px black;
    padding: 20px 10px;
}

.gomb {
    margin: 10px;
    border: solid 2px black;
    padding: 20px 10px;
}

.textarea {
    margin: 20px;
    border: solid 2px black;
    padding: 20px 10px;
}