@font-face {
    font-family: WeddingFont;
    src: url(/font/WeddingFont.ttf);
}

body {
    background-image: url(/img/virag.jpg);
    background-size: 200px;
}

.foDiv {
    font-family: WeddingFont;
    background-color: #2071b3;
    color: #F6DA79;
    border: solid 2px black;
    box-shadow: 5px 5px 10px black;
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    text-decoration: underline;
    margin-bottom: 30px;
}

.szoveg {
    text-shadow: 3px 3px black;
}